html {
    scroll-behavior: smooth;
}

#header {
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    background-color: #0d0d0d;
    font-size: 25px;
    padding: 15px;
    box-sizing: border-box;
}

#topnav {
    margin-right: 35px;
    cursor: pointer;
}

h1 {
    text-align: left;
    font-size: 20vh;
}

.content {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 100vh;
}

.text {
    width: clamp(45ch, 50%, 75ch);
}

.content:nth-child(odd) {
    background-color: white;
    color: black;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #161616;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.mobile {
    display: none;
}

@media only screen and (max-aspect-ratio: 1 / 1){

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}
